{% extends "base.html" %}

{% block content %}
<h2>Lista de Miembros</h2>
<a href="/miembros/crear" class="create_button">Crear Miembro</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for miembro in miembros %}
        <tr>
            <td>{{ miembro.id }}</td>
            <td>{{ miembro.nombre }}</td>
            <td>{{ miembro.edad }}</td>
            <td>
                <a href="/miembros/editar/{{ miembro.id }}">Editar</a>
                <a href="/miembros/eliminar/{{ miembro.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
